# Komplexübung

In [1]:
import pandas as pd

df = pd.read_excel("african-port-statistics-2013.xlsx")
df.head()

,Port,Port Name,Port RegionId,Indicator,Indicator Name,Indicator unit,Scale,Units,2005,2006,2007,2008,2009
0,AO,Angola,AO,12376316.0,Cargo Traffic (M.Tonnes),million tonnes,units,Million tonnes,6915000.0,7100000.0,7171110.0,7242821.0,6535300.0
1,BI,Burundi,BI,12376316.0,Cargo Traffic (M.Tonnes),million tonnes,units,Million tonnes,204929.0,182810.0,136077.0,137437.0,140000.0
2,BI,Burundi,BI,12376616.0,Container Traffic (TEUs),TEUs,units,TEUs,NaN,NaN,811.0,819.0,827.0
3,DJ,Djibouti,DJ,12376316.0,Cargo Traffic (M.Tonnes),million tonnes,units,Million tonnes,5432353.0,5489586.0,7470937.0,9379573.0,12147383.0
4,DJ,Djibouti,DJ,12376416.0,"Cargo Traffic, Annual Growth (Volume)",volume,units,Volume,NaN,NaN,NaN,NaN,2767810.0

### Aufgabe 1

Preprocessing:

1. Prüfe ob die die Spalten `2005`, `2006`, `2007`, `2008` und `2009` den richtigen Datentyp haben. (Falls nicht => Umwandeln)
2. Treffe eine Aussage darüber, welche Spalte die meisten NaN Werte enthält.

### Aufgabe 2

Die Spalten für die Jahre enthalten `NaN` Werte.

1. Fülle die `NaN` Werte mit dem jeweiligen Durchschnittswert von dem Jahr.
2. Im Anschlusse entferne alle Zeilen mit mindestens einem `NaN` Wert.

`fillna()`

### Aufgabe 3

1. Liste die verschiedenen Kürzel `Port` der Häfen auf (Keine doppelten Werte).

### Aufgabe 4

1. Welcher Namen `Port Name` eines Hafens, ist am kürzesten.
2. Wie kurz?

### Aufgabe 5

1. Selektiere so, dass du nur die Zeilen hast bei denen die Spalte `Units` gleich `Million tonnes` ist.
2. => Gruppiere nach `Port Name`
3. => Wähle nur die Spalte `2009` aus
4. => Nutze die Summenfunktion zur Reduzierung der Werte
5. => Selektiere nur die 20 kleinsten
6. => Visualisiere diese mit einem Kreisdiagramm